* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h3 {
    margin: 0;
}

#dashboard {
    display: grid;
    grid-template-columns: minmax(200px, 0.2fr) 1fr;
    grid-template-rows: 0.2fr 1fr;
}

#sidebar {
    grid-row: 1 / -1;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    background-color: lightblue;
    padding: 25px;
}

#main-links div, #secondary-links div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#header {
    padding: 25px 50px;
    display: grid;
    grid-template-columns: 4fr repeat(3, 1fr);
    grid-template-rows: 100px 100px;
}

#searchbar {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100px;
}

.svg {
    width: 25px;
    height: 25px;
}

.search {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
}

#logo-small {
    grid-column: 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100px;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.big-logo {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

#logo-large {
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100px;
}

#logo-large p {
    margin: 0;
}

.name {
    font-size: 1.25rem;
}

#buttons {
    grid-column: 3 / 5;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 100px;
}

#buttons button{
    height: 40px;
    width: 100px;
    border-style: solid;
    border-radius: 20px;
    background-color: lightblue;
}

#main-content {
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #E2E8F0;
    padding: 25px;
}

.header {
    margin: 0;
    margin-bottom: 20px;
}

#cards {
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 20px;
}

.card {
    width: 450px;
    background-color: white;
    border: 8px solid white;
    border-left-color: lightblue;
    border-radius: 10px;
    padding: 15px;
}

.project-action {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 5px;
}

#announcements {
    background-color: white;
    border: 8px solid white;
    border-radius: 10px;
    padding: 25px;
}

.announcement-card {
    border-bottom: 2px solid lightgray;
    margin-bottom: 25px;
}

.announcement-card > p {
    margin-top: 5px;
}